.navbar {
    width: 100%;
    margin-bottom: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:white;
}

.navbar ul {
    list-style-type: none;
    margin: 20px auto;
    padding: 10;
    float: left;
}

.navbar li {
    font-size: 15px;
    float: left;
    margin-right: 50px;
}

.navbar a {
    text-decoration: none;
    color:white;
}

li a:hover{
    color: yellow;
    text-decoration: none;
}

h5 a:hover{
    color: yellow;
    text-decoration: none;
}
